*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.first-section {
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(184, 48, 48);
}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    flex-direction: row;
}
.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-second{
    font-size: 18px;
    color: #e5e7eb;
    
}

.sign-up-first{
    background-color: #3882F6;
    color: white;
    width: 80px;
    height: 30px;
    border: 1px;
    border-radius: 10px;
    margin: 10px;
}

.content{
    display: flex;
    display: row;
    margin: 50px;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
}

img{
    margin-bottom: 50px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.row-of-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 60px;
    align-items: center;
}
.box{
    border: 3px solid rgb(184, 48, 48);
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.p-second{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.third-section{
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    text-align: center;
}

.p-third{
    font-size: 25px;
    text-align: end;
    font-weight: bold;
}

.p-third-box{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 350px;
}

.fourth-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-container{
    display: flex;
    background-color: rgb(184, 48, 48);
    width: 75%;
    height: 50%;
    border: 1px;
    border-radius: 10px;
}

h4{
    color: white;
    font-size: 28px;
    text-align: start;
}
.last-p{
    text-align: start;
    font-size: 18px;
    color: white;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    justify-content: center;
    margin-left: 100px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10%;
}

.bottom-button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(184, 48, 48);
    height: 75px;
    align-items: center;
}